/* .button
{
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-left: 2px;
}

.button.disabled
{
    cursor: default;
} */

.buttonIcon
{
    display: block;
    width: 25px;
    height: 100%;
    padding-left: 0;
    fill:  rgba( 127, 127, 127, 1);
    padding-right: 1rem;


}

.button:hover .buttonIcon{
    fill: black;
}
