runtime = electron
target = 5.0.0
target_arch = x64
config_arch=x64
disturl = https://atom.io/download/atom-shell
tag-version-prefix=""
build_from_source=true


# npm_config_target=1.2.3
# The architecture of Electron, see https://electronjs.org/docs/tutorial/support#supported-platforms
# for supported architectures.
# m_config_target_arch=x64
# Download headers for Electron.
# export npm_config_disturl=https://atom.io/download/electron
# Tell node-pre-gyp that we are building for Electron.
# export npm_config_runtime=electron
# Tell node-pre-gyp to build module from source code.
