sudo: required
dist: trusty

os:
- osx
- linux


env:
- NODE_ENV=dev
- NODE_ENV=prod


node_js:
- '7'
cache:
  yarn: true
  directories:
  - node_modules
  - app/node_modules
  - $HOME/.electron
  - $HOME/.cache
language: node_js
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
script:
- yarn build
- yarn package
before_deploy:
- ls dist
- if [[ "$NODE_ENV" == "dev" ]]; then mv dist/$(ls dist) dist/mock-$(ls dist); fi
- export APP_PKG_DIR="$(ls dist)";
- if [[ "$NODE_ENV" == "prod" ]] && [[ "$TRAVIS_OS_NAME" == "linux"  ]]; then cp build/'SAFE Browser.crust.config' dist/$APP_PKG_DIR/safe-browser.crust.config; fi
- if [[ "$NODE_ENV" == "dev" ]] && [[ "$TRAVIS_OS_NAME" == "osx"  ]]; then rm -f dist/$APP_PKG_DIR/'SAFE Browser.app'/Contents/Resources/'SAFE Browser.crust.config'; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cp build/log.toml dist/$APP_PKG_DIR/; fi
- ls dist/$APP_PKG_DIR
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then  cd dist && zip -r -q -y $APP_PKG_DIR.zip $APP_PKG_DIR && cd ..; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cd dist && ditto -c -k --sequesterRsrc --keepParent $APP_PKG_DIR $APP_PKG_DIR.zip  && cd ..;  fi
- ls dist
- rm -rf dist/$APP_PKG_DIR
- ls dist
- export RELEASE_DIR="$(ls dist/*.zip)";
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sha256sum dist/*.zip >> dist/$APP_PKG_DIR.txt; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then shasum -a 256 dist/*.zip >> dist/$APP_PKG_DIR.txt; fi
- ls dist
- export SHA_256_SUM="$(ls dist/*.txt)";
- echo "deploying ${RELEASE_DIR} to GitHub releases as tagged with ${TRAVIS_TAG}"
deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_AUTH_TOKEN
  file: 
    - "${RELEASE_DIR}"
    - "${SHA_256_SUM}"
  draft: true
  prerelease: true
  tag_name: $TRAVIS_TAG
  on:
    tags: true
