.container {
    min-width: 300px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(246, 246, 246, 1);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(127, 127, 127, 1);
    display: flex;
    flex: none;
    align-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-right: 0;
    border-left: 0;
    z-index: 3;
}

.addressBar {
    width: 100%;
}

/* let it grow */
.addressBarCol {
    flex: 1;
}

.itemContainer {
    padding-bottom: 5%;
}

.input {
    display: block;
    border: 1px solid rgba(127, 127, 127, 1);
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    max-width: 800px;
    width: 100%;
    height: 20px;
}

.buttonBlock {
    display: flex;
}

.rightButtons,
.leftButtons {
    /* stylelint-disable-next-line */
    composes: buttonBlock;
}

.button {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-left: 2px;
}

.button.disabled {
    cursor: default;
}

.addressBarColumn {
    flex-grow: 1;
}
.buttonIcon {
    display: block;
    width: 25px;
    height: 100%;
    padding-left: 0;
    fill: rgba(127, 127, 127, 1);
    padding-right: 1rem;
}

.buttonIcon:hover {
    fill: black;
}

/* buttons themselves */

/* .back,
.forward,
.reload
{
    composes: button;
} */

/*  settings menu item */
.menuItem {
    cursor: pointer;
    padding: 2%;
}
