
.container
{
    flex: 0 0 0%;
    height: 100%;
    padding-top:     10px;
    padding-left:     75px;
    background: rgba( 207, 208, 209, 1);

    font-size: 1.4rem;
}

.tabBar
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
    top: 1px;
}


.tab
{
    padding-right:    7px;
    padding-left:     7px;
    padding-top:      5px;
    padding-bottom:      3px;
    box-sizing: border-box;
    min-height:         25px;
    display: flex;
    overflow:hidden;
    position: relative;
    max-width: 400px;
    text-align: left;
    border-color:rgba( 127, 127, 127, 1);

    border-top: 1px solid;
    border-right: 1px solid;

    cursor: pointer;

}

.tab:first-child
{
    border-left: 1px solid;

}


.addTab
{
    composes: tab;

}


.tabBox
{

}

.tabText
{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: 1.2;
    text-overflow: ellipsis;
    user-select: none;
}

.tabAddButton,
.tabCloseButton
{
    flex: 0 0 1.6em;
}










.activeTab
{
    composes: tab;
    background-color: rgba( 246, 246, 246, 1);
}
