
.container
{
    flex: 0 0 0%;
    height: 100%;
    padding-top:     20px;
    padding-left:     75px;
    padding-right:     10px;
    background: rgba( 207, 208, 209, 1);
    z-index: 4;
    font-size: 1.4rem;
    -webkit-app-region: drag;

}


.tabBar
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
    top: 1px;
    -webkit-app-region: no-drag;
}


.tabBox
{
    padding-right:      7px;
    padding-left:       7px;
    min-height:         31px;
    padding-top:        4px;
    padding-bottom:     5px;

    box-sizing:         border-box;
    border-top:         1px solid rgba( 127, 127, 127, 1);
    border-right:       1px solid rgba( 127, 127, 127, 1);
}

.tabBox:hover:not(.activeTab)
{
    background-color: rgba( 246, 246, 246, 0.5);
}


.tab
{
    composes: tabBox;
    display: flex;
    overflow:hidden;
    position: relative;
    max-width: 400px;
    text-align: left;
    justify-content: space-between;
}

.tab:first-child
{
    border-left: 1px solid rgba( 127, 127, 127, 1);
}


.addTab
{
    composes: tabBox;
}



.tabText
{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: 1.2;
    text-overflow: ellipsis;
    user-select: none;
}


.tabAddButton,
.tabCloseButton
{
    padding: 1px;
    flex: 0 0 14px;
    border-radius: 100%;
}

.addTab:hover .tabAddButton
{
    color: white;
    background-color: rgba(54, 125, 62, 0.9);
}

.tabCloseButton:hover
{
    color: white;
    background-color: rgba(187, 45, 0, 0.9);
}

.favicon
{
  min-width: 20px;
  max-width: 20px;
}

.favicon img
{
  max-width: 16px;
}

.activeTab
{
    composes: tab;
    background-color: rgba( 246, 246, 246, 1);
}
