html,
body,
.app,
#root {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tabBar__tabBox,
.tabBar__addTab {
    -webkit-app-region: no-drag;
}

.tabBar__tabBar {
    -webkit-app-region: drag;
}

html {
    font-size: 16px;
    line-height: 1.2em;
}

.info_box_details {
    display: none;
    margin-top: 5%;
}

.info_box_expander:hover + .info_box_details {
    display: block;
}

.no_display {
    display: none;
}

.reveal_link {
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px;
    font-size: 1.3em;
}
