.toggleText {
    white-space: nowrap;
}

.toggleRow {
    border-top: 1px solid rgba(191, 191, 191, 0.5);
    flex-wrap: nowrap;
    padding: 2%;
}

.editSiteWrapper .editSiteButton {
    cursor: pointer;
    color: #4caf50;
    background-color: white;
    margin-left: 3px;
    height: 25px;
    width: 25px;
}

.editSiteWrapper .editSiteButtonClicked {
    cursor: pointer;
    color: #aaa;
    background-color: white;
    margin-left: 3px;
    height: 25px;
    width: 25px;
}

.versionButtonWrapper .versionButton {
    cursor: pointer;
    color: #aaa;
}

.versionButtonWrapper .versionButton svg {
    height: 20px;
}

.versionButton:disabled {
    cursor: default;
}
