.toggleText {
    white-space: nowrap;
}

.toggleRow {
    border-top: 1px solid rgba(191, 191, 191, 0.5);
    flex-wrap: nowrap;
    padding: 2%;
}

.editSiteButton {
    cursor: pointer;
}

.versionButton {
    cursor: pointer;
}
.versionButton:disabled {
    cursor: default;
}
