.menuContainer{
    position: relative;
}
.menu
{
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(30px);
    display: block;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    min-width: 242px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.customMenuItem{
    cursor: pointer;
}
