.app-list {
  height: $app-list-height;
  overflow: auto;
  .fetching {
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    opacity: 0.8;
  }
  .app-list-i {
    width: 33.33%;
    padding-top: 35px;
    padding-bottom: 5px;
    display: inline-block;
    float: left;
    text-align: center;
    .app-list-i-b {
      display: inline-block;
      cursor: pointer;
      max-width: 80%;
    }
    .app-list-i-h {
      margin: 0 auto;
    }
    .app-list-i-name {
      margin-top: 15px;
      font: {
        size: 14px;
        weight: normal;
      };
      color: $primary-gray;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include clearfix();
}

.app-detail {
  height: $card-main-cntr-max-height;
  position: relative;
  padding-bottom: 70px;
  .app-detail-b {
    overflow: auto;
    height: 100%;
  }
  .app-detail-keys {
    padding: 25px 30px 0;
    font: {
      size: 12px;
    };
    .app-detail-key-i {
      display: inline-block;
      padding-right: 30px;
      .app-detail-key {
        font-weight: normal;
        color: $app-detail-key-clr;
      }
      .app-detail-value {
        margin-left: 8px;
        font-weight: bold;
        color: $app-detail-value-clr;
      }
    }
  }
  .app-detail-permissions {
    display: flex;
    flex-wrap: wrap;
    padding: 0 23px;
    padding-bottom: 50px;
    .app-detail-permission {
      flex: 1;
      flex-basis: 25%;
      padding: 0 3.5px;
      margin-top: 25px;
      max-width: 25%;
      .app-detail-permission-b {
        background-color: $app-detail-permission-bg;
        height: 100%;
      }
      h3 {
        font: {
          size: 13px;
          weight: bold;
        };
        line-height: 30px;
        background-color: $app-detail-permission-title-bg;
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      ul { 
        list-style: none;
        padding: 10px;
        li {
          font: {
            size: 12px;
            weight: normal;
          };
          white-space: nowrap;
          text-overflow: ellipsis;
          text-transform: capitalize;
          overflow: hidden;
        }
      }
    }
  }
  .app-detail-f {
    width: 100%;
    padding: 0 30px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    .lft {
      float: left;
    }
    .rgt {
      float: right;
    }
    @include clearfix();
  }
}

.no-apps {
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
  .no-apps-h {
    font: {
      size: 16px;
      weight: normal;
    };
    color: rgba(0, 0, 0, 0.7);
  }
  .no-apps-img {
    height: 100px;
    background: {
      image: url("../img/no-apps.svg");
      position: center;
      size: contain;
      repeat: no-repeat;
    };
    margin: 30px 0 0;
  }
  .no-apps-down {
    margin-top: 25px;
    font: {
      size: 14px;
      weight: normal;
    };
    .no-apps-down-h {
      margin-bottom: 10px;
      font: {
        weight: normal;
      };
      color: rgba(0, 0, 0, 0.7 );
    }
    .no-apps-down-lnk {
      color: $primary-blue;
      text-decoration: none;
    }
  }
}

.app-list-search {
  height: 45px;
  text-align: right;
  padding: 16px 16px 0;
  .app-list-search-icn {
    width: 20px;
    height: 20px;
    border: 0;
    background: {
      image: url("../img/search.svg");
      size: 15px;
      repeat: no-repeat;
      position: center;
      color: transparent;
    };
    outline: none;
    cursor: pointer;
    &:hover {
      background: {
        image: url("../img/search-hover.svg");
      };
    }
  }
  .app-list-search-ipt {
    display: none;
    float: right;
    border-bottom: 1px solid #EEE;
    margin-left: 8px;
    input {
      width: 200px;
      font:  {
        size: 12px;
        weight: normal;
      };
      line-height: 20px;
      border: 0;
      outline: none;
      float: left;
      margin: 0;
      padding: 0;
    }
    .app-list-search-cancel {
      width: 20px;
      height: 20px;
      border: 0;
      background: {
        image: url("../img/search-cancel.svg");
        size: 10px;
        repeat: no-repeat;
        position: center;
        color: transparent;
      };
      outline: none;
      cursor: pointer;
      &:hover {
        background: {
          image: url("../img/search-cancel-hover.svg");
        };
      }
    }
  }
  &.active {
    .app-list-search-icn {
      background: {
        image: url("../img/search-hover.svg");
      };
    }
    .app-list-search-ipt {
      display: inline-block;
    }
  ;
  }
}

.reauthorise-state {
  position: absolute;
  top: 86px;
  left: 16px;
  .icn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: {
      size: contain;
      color: transparent;
      position: center;
      repeat: no-repeat;
    };
    float: left;
    border: 0;
    outline: none;
    cursor: pointer;
    &.lock {
      background: {
        image: url("../img/lock.svg");
      };
    }
    &.unlock {
      background: {
        image: url("../img/unlock.svg");
      };
    }
    &:hover {
      &.lock {
        background-image: url("../img/lock-hover.svg");
      }
      &.unlock {
        background-image: url("../img/unlock-hover.svg");
      }
    }
    &:hover + .msg {
      display: inline-block;
    }
  }
  > .msg {
    display: none;
    font: {
      size: 12px;
      weight: normal;
    };
    line-height: 20px;
    float: left;
    background-color: rgba(68, 68, 68, 0.76);
    color: #EEE;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 3px;
  }
}