.auth {
  .auth-b {
    float: left;
    width: 100%;
    .auth-cont-1 {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 20px;
      font: {
        size: 16px;
        weight: normal;
      };
      color: $primary-gray;
      text-align: center;
    }
  }
  .auth-welcome {
    width: 80%;
    height: 80px;
    margin: 45px auto 65px;
    background: {
      color: transparent;
      image: url("../img/auth-welcome.svg");
      repeat: no-repeat;
      position: center;
      size: contain;
    };
  }
  .auth-f {
    text-align: center;
    padding: 0 50px;
    &.no-border {
      .auth-f-b {
        border-width: 0;
      }
    }
    .auth-f-b {
      border-top: 1px solid #EEE;
      position: relative;
    }
    .btn {
      margin-top: 18px;
      position: absolute;
      top: 0;
      &.lft {
        left: 0;
      }
      &.rgt {
        right: 0;
      }
    }
    .auth-f-nav {
      line-height: 70px;
      display: inline-block;
      span {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px $auth-nav-stock-clr;
        margin: 0 7.5px;
        cursor: pointer;
        &.active {
          background-color: $auth-nav-filled-bg;
          box-shadow: 0 0 0 1px $auth-nav-filled-bg;
        }
      }
    }
    @include clearfix();
  }
  .auth-form {
    padding: 0 50px;
    &.bottom-pad {
      padding-bottom: 30px;
    }
    .btn-grp {
      padding: 50px 0;
    }
    .inp-grp {
      position: relative;
      margin-top: 40px;
      padding-bottom: 20px;
      input {
        width: 100%;
        border-width: 0 0 1px;
        line-height: 30px;
        font: {
          size: 14px;
          weight: normal;
        };
        padding-right: 36px;
        outline: none;
        background-color: transparent;
        position: relative;
        z-index: 1;
        &:focus ~ label, &:valid ~ label {
          top: -20px;
          line-height: 20px;
          font: {
            size: 12px;
          };
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        width: 100%;
        line-height: 30px;
        font: {
          size: 14px;
          weight: normal;
        };
        transition: top .2s ease, font-size .2s ease;
      }
      .msg {
        width: 100%;
        padding-top: 5px;
        font: {
          size: 11px;
          weight: normal;
        };
        display: block;
        margin-bottom: -20px;
        bottom: 0;
        left: 0;
        color: $primary-blue;
        &.error {
          color: $primary-red;
        }
      }
      .strength {
        width: 0;
        background-color: $primary-blue;
        height: 5px;
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 0;
      }
      .limit {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        &:after {
          content: "min";
          position: relative;
          left: 0;
          top: -2px;
          font: {
            size: 9px;
            weight: normal;
          };
          border-left: 2px solid #EEE;
          padding-left: 3px;
        }
        &.short {
          &:after {
            left: 50%;
          }
        }
        &.long {
          &:after {
            left: 62.5%;
          }
        }
      }
      .eye-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: {
          image: url("../img/eye.svg");
          repeat: no-repeat;
          position: center;
          color: transparent;
        };
        display: inline-block;
        cursor: pointer;
        border: 0;
        outline: 0;
        z-index: 99;
        &:hover {
          background-image: url("../img/eye-hover.svg");
        }
      }
    }
  }
  .invitation {
    padding-bottom: 30px;
    .separator {
      display: block;
      line-height: 60px;
      font: {
        size: 16px;
        weight: normal;
      };
      color: $primary-gray;
      text-align: center;
    }
  }
  .login-b {
    padding-top: 30px;
  }
  @include clearfix();
}
