* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: {
    color: $root-bg;
  };
  font: {
    family: 'Open Sans';
    size: 15px;
    weight: normal;
  };
}

.root, .base {
  width: 100%;
}

.base {
  position: relative;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0,0, 0.5);
  z-index: 999;
  .popup-b {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    .popup-cont {
      width: 400px;
      margin: 0 auto;
      padding: 25px 30px;
      background-color: white;
      text-align: left;
      position: relative;
      .icn {
        width: 50px;
        height: 50px;
        display: inline-block;
        position: absolute;
        background: {
          image: url("../img/success.svg");
          size: 40px;
          repeat: no-repeat;
          position: left center;
        };
      }
      &.error {
        .icn {
          background: {
            image: url("../img/error.svg");
          };
        }
      }
      .desc {
        padding-left: 60px;
        padding-top: 5px;
        min-height: 50px;
        display: inline-block;
        font-size: 16px;
      }
      .detailed-desc {
        padding-top: 8px;
        .head {
          display: block;
          font-size: 12px;
          font-weight: 600;
          cursor: pointer;
          background-color: transparent;
          border: 0;
          padding: 8px 0;
          outline: none;
        }
        .info {
          display: none;
          font-size: 12px;
        }
        &.show {
          .info {
            display: block;
          }
        }
      }
      .opt {
        text-align: right;
        button {}
      }
    }
  }
}

.nw-status {
  display: inline-block;
  width: 50px;
  height: 50px;
  &-i {
    width: 50px;
    height: inherit;
    display: block;
    background: {
      position: center;
      repeat: no-repeat;
      color: transparent;
      size: contain;
    }
    border-color: transparent;
    outline: none;
    cursor: default;
    &.connecting {
      background-image: url($nw-reconnect-url);
      &:after {
        content: '';
        background: {
          image: url($nw-reconnect-arrow-url);
          repeat: no-repeat;
          position: center;
          size: 30px;
        };
        display: block;
        width: 100%;
        height: 100%;
        animation: anti-spin 0.8s linear infinite;
      }
    }
    &.connected {
      background-image: url($nw-connected-url);
    }
    &.terminated {
      background-image: url($nw-reconnect-url);
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: {
          image: url($nw-reconnect-arrow-url);
          repeat: no-repeat;
          position: center;
          size: 30px;
        };
      }
    }
  }
  &-tooltip {
    display: none;
    width: 100px;
    text-align: center;
    font: {
      size: 10px;
      weight: normal;
    }
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #424242;
    color: #DDD;
    margin-left: -50px;
    margin-top: 12px;
    padding: 0 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    overflow: hidden;
    z-index: 9999;
  }
  &:hover {
    .nw-status-tooltip {
      display: inline-block;
    }
  }
}

.acc-info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .acc-info-b {
    width: 100%;
    text-align: right;
    padding: 16px;
    display: block;
    .acc-info-status {
      display: inline-block;
      font-size: 12px;
      position: relative;
      min-width: 400px;
      .label {
        cursor: default;
        line-height: 20px;
      }
      .val {
        min-width: 56px;
        display: inline-block;
        text-align: center;
        border: 2px solid $acc-info-default;
        border-radius: 9px;
        line-height: 16px;
        padding: 0 8px;
        font-weight: 600;
        margin-left: 8px;
        color: $acc-info-default;
        cursor: default;
      }
      .refresh {
        width: 20px;
        height: 20px;
        float: right;
        margin-left: 8px;
        border: 0;
        outline: 0;
        cursor: pointer;
        border-radius: 50%;
        background-color: transparent;
        background-image: url($acc-info-refresh-url);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
          background-image: url($acc-info-refresh-hover-url);
        }
        &:disabled {
          background-image: url($acc-info-refresh-disabled-url);
          cursor: not-allowed !important;
        }
      }
      .tooltip {
        display: none;
        position: absolute;
        width: auto;
        top: 100%;
        right: 0;
        text-align: left;
        background-color: $tooltip-bg;
        color: #DDD;
        padding: 0 8px;
        line-height: 25px;
        font-size: 10px;
        white-space: normal;
        border-radius: 3px;
        margin-top: 8px;
      }
      .val:hover ~ .tooltip {
        display: block !important;
      }
      &.safer {
        .val {
          color: $acc-info-safer;
          border-color: $acc-info-safer;
        }
      }
      &.okay {
        .val {
          color: $acc-info-okay;
          border-color: $acc-info-okay;
        }
      }
      &.danger {
        .val {
          color: $acc-info-danger;
          border-color: $acc-info-danger;
        }
      }
    }
    .timer {
      display: none;
      .val {
        font-size: 12px;
        color: #a0a0a0;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anti-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
