.card-main {
  padding-top: 85px;
  width: 625px;
  margin: 0 auto 80px;
  .card-main-b {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
    position: relative;
  }
  .card-main-h, .card-main-h-2 {
    line-height: $card-main-head-height;
    text-align: center;
    background-color: $card-main-head-bg;
    color: $card-main-head-clr;
    border-radius: 10px 10px 0 0;
    font: {
      size: 21px;
      weight: normal;
    };
  }
  .card-main-h-2 span {
    display: inline-block;
  }
  .card-main-h-2 b {
    margin-left: 15px;
  }
  .card-main-cntr {
    min-height: $card-main-cntr-height;
    background-color: $card-main-cntr-bg;
    border-radius: 0 0 10px 10px;
  }
  .card-f {
    text-align: center;
    padding-top: 40px;
    font: {
      size: 16px;
      weight: normal;
    };
    a {
      font: {
        weight: bolder;
      };
      color: $a-clr;
      text-decoration: none;
      cursor: pointer;
      &.disabled {
        color: $primary-gray;
        cursor: default;
      }
      &:hover {
        color: $a-hover;
        &.disabled {
          color: $primary-gray;
        }
      }
    }
  }
}
