.app-icon {
  width: 45px;
  height: 45px;
  line-height: 43px;
  text-transform: uppercase;
  border: 1px solid #666;
  border-radius: 50%;
  background-color: $default-app-icon-bg;
  color: $default-app-icon-clr;
  @each $current-color in $apps-colors-list {
    $i: index($apps-colors-list, $current-color);
    &.app-icon-clr-#{$i} {
      background-color: $current-color;
    }
  }
  &.light {
    border-color: #FFF;
  }
}
