header {
  position: relative;
  background: {
    color: $header-bg;
  };
  height: 70px;
  padding: 0 40px 25px;
  display: flex;
  align-items: flex-end;
  .h-app-name {
    flex: 1;
    height: 20px;
    background: {
      color: transparent;
      image: url("../img/authenticator-name.svg");
      repeat: no-repeat;
      size: 175px;
    };
  }
  .h-app-logo {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -30px;
    z-index: 99;
    &.safe-auth-icon {
      background: {
        image: url("../img/authenticator-logo.svg");
      };
    }
  }
  .h-opt {
    flex: 1;
    text-align: right;
    button {
      text-transform: uppercase;
      font: {
        weight: bolder;
        size: 15px;
      };
      color: $header-opt-clr;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      &.logout {
        color: $primary-red;
      }
    }
  }
  .nw-state-alert {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 24px;
    z-index: 999;
    .nw-status-alert-b {
      background-color: $nw-alert-bg;
      display: inline-block;
      padding: 0 16px;
      border-radius: 5px;
      color: #FFF;
      line-height: 28px;
      button {
        padding: 0;
        margin: 0;
        border: 0;
        outline: 0;
        background-color: transparent;
        text-decoration: underline;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        cursor: pointer;
      }
    }
  }
}
