.full-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: {
    color: rgba(255, 255, 255, 0.8);
  }
  border-radius: 10px;
  z-index: 9999;
  .full-loader-b {
    display: table;
    width: 100%;
    height: 100%;
    .full-loader-ib {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .full-loader-i {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    background: {
      color: rgba(255, 255, 255, 0.5);
      image: url("../img/loader.gif");
      position: center;
      repeat: no-repeat;
      size: contain;
    };
    animation: spin 1s linear infinite;
  }
  .full-loader-msg {
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 14px;
  }
}
