// Colors
$primary-blue: #5593D7;
$primary-gray: #4d4d4d;
$primary-red: #e26464;
$root-bg: #EEE;
$header-bg: #FFF;
$header-opt-clr: $primary-blue;
$header-app-logo-bg: #FFF;
$default-btn-bg: $primary-gray;
$default-btn-clr: $primary-gray;
$btn-primary-bg: $primary-blue;
$btn-primary-clr: $primary-blue;
$btn-primary-hover: #6FAFEF;
$btn-primary-active: #3575B5;
$default-btn-hover-clr: #AAA;
$btn-danger-bg: $primary-red;
$btn-danger-clr: $primary-red;
$a-clr: $primary-blue;
$a-hover: $btn-primary-hover;
$auth-nav-stock-clr: #A5A4A4;

$card-main-head-bg: $primary-blue;
$card-main-head-clr: #FFF;
$card-main-cntr-bg: #FFF;
$default-app-icon-bg: #EEE;
$default-app-icon-clr: #FFF;
$app-detail-key-clr: #4D4D4D;
$app-detail-value-clr: $primary-blue;
$app-detail-permission-bg: #deecf9;
$app-detail-permission-title-bg: #d1e4f2;
$auth-nav-filled-bg: $primary-blue;
$tooltip-bg: #424242;
$nw-alert-bg: #f9a832;
$acc-info-safer: #86BC94;
$acc-info-okay: #F2AE53;
$acc-info-danger: #F96A53;
$acc-info-default: #666;

$card-main-head-height: 70px;
$card-main-cntr-height: 310px;
$app-list-height: 380px;
$card-main-cntr-max-height: 500px;

$apps-colors-list: #90dddb #fccb95 #f9bbaf #91bfdb #d8b1f2 #a3cca3;

$nw-connected-url: '../img/authenticator-logo.svg';
$nw-reconnect-url: '../img/reconnect_bg.png';
$nw-reconnect-arrow-url: '../img/reconnect_arrows.svg';
$acc-info-refresh-url: '../img/refresh.svg';
$acc-info-refresh-hover-url: '../img/refresh-hover.svg';
$acc-info-refresh-disabled-url: '../img/refresh-disabled.svg';
