.container {
    text-align:       center;
    height:           100%;
    display:          flex;
    flex-direction:   column;
    position:         relative;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}


.tab
{
    flex-grow: 1;
}



.spectronArea
{
    background-color: blue;
    display: block;
    width: 100%;
    height: 1px;
}

.spectronArea button
{
    width: 1px;
    height:1px;
    display: inline-block;
}
