.tab
{
    z-index:           0;
    display:           flex;
    position:          absolute;
    background-color:  white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}



.activeTab
{
    composes: tab;
    z-index: 1;
}
