.tab
{
    display:           flex;
    position:          absolute;
    background-color:  white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
}



.activeTab
{
    visibility: visible;
    composes: tab;
}
